*{
    margin: 0;
    padding: 0;

}
h1{
    color:darkmagenta;
    font-weight: 200;
    font-style:initial ;

}
h2{
    text-decoration:underline ;
    text-align: center;
}
/* para trabalhar com class no css precisa comeãr com um "." antes de inserir o nome */
.bg_img{
    height: 500px;
    width: 100%;
    background-color: aqua;
    background-image: url("https://images.unsplash.com/photo-1718115257239-7246f434a7b0?q=80&w=1475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    /* propriedade contain deixa a imagem inteira na pag mas irá duplicar provavelmente, usar a seguinte propriedade */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* essa propriedade deixa a img fixa na tela, rola jundo do scroll */
}
p{
    font-size: 19px;
    text-align: justify;
    text-indent: 45px;
}