*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.bg_fundo{
    height: 50rem;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1718194822494-47de8fb7922c?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    /* propriedade contain deixa a imagem inteira na pag mas irá duplicar provavelmente, usar a seguinte propriedade */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* essa propriedade deixa a img fixa na tela, rola jundo do scroll */
}
h1{
    font-size: 3.5rem;
    background-color: rgba(223, 224, 223, 0.623);
    font-weight: 300;
    color:darkslategrey;
}
h2{
    font-size: 3.5rem;
    background-color: rgba(234, 236, 234, 0.623);
    font-weight: 300;
    color:darkslategrey;
}
table{
    font-size: 2.4rem;
    border: 1px solid #B0C4DE;
    border-collapse:initial;
}
table thead tr:first-child{
    background-color: lightsteelblue;
    color:teal;
}
table tbody tr:nth-child(n + 2){
    background-color: rgb(192, 181, 167);
    opacity: 87%;
}
p{
    font-size: 2.2rem;
}
ul, ol{
    font-size: 1.9rem;
    padding-left: 2.4rem;
}
ul{
    list-style:georgian;
}
ol{
    list-style:decimal-leading-zero;
}
.box{
    height: 10rem;
    width: 20rem;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 0.8rem solid black;
    border-radius: 0.8rem ;
    display: inline-block;
}
img{
    height: 10rem;
    width: 50rem;
    margin: 1.5rem;
    padding: 1.5rem;
    object-fit: cover;
}